/* SECTION: GLOBAL RULES  */

* {
    box-sizing: border-box;
}

/* End */

/* SECTION Header began  */

header {
    background: url("../images/sources6.png") no-repeat top center;
    background-size: cover;
    min-height: 605px;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #FFF;
}

.overlay h1 {
    font-size: 60px;
    margin-top: 100px;
}

.overlay .plan {
    border: 1px solid #ffffff6e;
    font-size: 40px;
    width: 50%;
    padding: 20px;
    float: left;
    background-color: #607d8b70;

}

@media (max-width: 767px) {
    .overlay h1 {font-size: 40px;}
    .overlay .plan {
        float: none;
        margin: 0 auto 20px;
        font-size: 20px;
    }
}

/* section Header end  */


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
    .container {
        width: 780px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .container {
        width: 1000px
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399px) {
    .container {
        width: 1200px;
    }
}

/* Extra extra large devices (extra large desktops, 1400px and up) */
@media (min-width: 1400px) {
    
}


/* SECTION: my Framework began */

.container {
    margin: auto;
}

.text-center {
    text-align: center;
}


/* my Framework end */
