/* SECTION: GLOBAL RULES  */

* {
    box-sizing: border-box;
}

/* End */

/* SECTION Header began  */

header {
    background: url("../images/sources6.png") no-repeat top center;
    background-size: cover;
    height: 605px;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.235);
}

.overlay h1 {
    font-size: 60px;
    margin-top: 100px;
}

.overlay .plan {
    border: 1px solid #ffffff6e;
    font-size: 40px;
    width: 50%;
    padding: 20px;
    float: left;
    /* display: flex; */
    background-color: #607d8b70;

}

@media (max-width: 767px) {
    .overlay h1 {font-size: 40px;}
    .overlay .plan {
        float: none;
        margin: 0 auto 20px;
        font-size: 20px;
    }
}

/* section Header end  */

/* began section features  */

.features {
    padding: 30px 0 0;
}

.features .feat {
    float: left;
    /* width: 33.33%; */
    /* padding: 0 20px 2px; */
    margin: 0 30px;
}

.features h2.head-size {
    color: #555;
}

.features .feat p {
    color: #666;
    line-height: 1.7;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 991px) {
    .features .feat {
        float: left;
        width: 27%;
        /* padding: 0 20px 2px; */
        /* margin: 0 30px */
    }
}

@media (max-width: 767px) {
    .features .feat {
        text-align: center;
    }

    .features .feat:nth-of-type(odd){
        background-color:rgb(224 208 208 / 24%) !important;
    }

    .features .feat:nth-of-type(even){
        background-color:rgb(201 201 201 / 24%) !important;
    }
}

@media (min-width: 787px) and (max-width: 991px) {
    .features .feat:first-of-type {
        width: 100%;
        margin: 0;
    }

    .features .feat:not(:first-of-type) {
        width: 50%;
        margin: 0;
    }
}

/* began section features  */


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) and (max-width: 991px){
    .container {
        width: 720px;
    }
    .visible-sm {
        display: block !important;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}

/* Extra extra large devices (extra large desktops, 1400px and up) */
@media (min-width: 1400px) {
    
}

/* SECTION: my Framework began */

.container {
    margin: auto;
    /* margin-left: 15px;
    margin-right: 15px; */
}

.text-center {
    text-align: center;
}

.head-size {
    font-size: 2rem;
}

.visible-xs,
.visible-sm,
.visible-md,
.visible-lg,
.visible-xlg {
    display: none;
}


/* my Framework end */
