/* SECTION: GLOBAL RULES  */

* {
	box-sizing: border-box;
}

body {
	font-family: "Indie Flower", cursive;
}

/* End */

/* SECTION Header began  */

header {
	background: url("../images/sources6.png") no-repeat top center;
	background-size: cover;
	height: 605px;
	position: relative;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.235);
}

.overlay h1 {
	font-size: 60px;
	margin-top: 150px;
}

.overlay .plan {
	border: 1px solid #ffffff6e;
	font-size: 40px;
	width: 50%;
	padding: 20px;
	float: left;
	/* display: flex; */
	background-color: #607d8b70;
}

@media (max-width: 767px) {
	.overlay h1 {
		font-size: 40px;
	}

	.overlay .plan {
		float: none;
		margin: 0 auto 20px;
		font-size: 20px;
	}
}

/* section Header end  */

/* began section features  */

.features {
	padding: 30px 0 0;
	font-size: 20px;
}

.features .feat {
	float: left;
	/* width: 33.33%; */
	/* padding: 0 20px 2px; */
	margin: 0 30px 30px;
}

.features h2.head-size {
	color: #555;
}

.features .feat p {
	color: #666;
	line-height: 1.7;
	margin-bottom: 15px;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 991px) {
	.features .feat {
		float: left;
		width: 27%;
		/* padding: 0 20px 2px; */
		/* margin: 0 30px */
	}
}

@media (max-width: 767px) {
	.features .feat {
		text-align: center;
	}

	.features .feat:nth-of-type(odd) {
		background-color: rgb(224 208 208 / 24%) !important;
	}

	.features .feat:nth-of-type(even) {
		background-color: rgb(201 201 201 / 24%) !important;
	}
}

@media (min-width: 787px) and (max-width: 991px) {
	.features .feat:first-of-type {
		width: 100%;
		margin: 0;
	}

	.features .feat:not(:first-of-type) {
		width: 50%;
		margin: 0;
	}
}

/* end section features  */

/* began section about us */

.about-us {
	margin-bottom: 30px;
	padding: 25px;
	background-color: #ececec;
	font-size: 30px;
	line-height: 1.7;
}

@media (max-width: 767px) {
	.responsive-paragraph {
		font-size: 20px;
		font-weight: bold;
	}
}

/* end  section about us */

/* began section our works */

@media (min-width: 1200px) {
	.our-works .gallery {
		width: 25%;
	}

	.our-works .gallery img {
		width: 421px !important;
	}
}

@media (min-width: 992px) {
	.our-works .gallery {
		width: 33.3333%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.our-works .gallery {
		width: 50%;
	}
}

.our-works .gallery img {
	width: 100%;
}

.btn {
	margin: 30px 20px;
	text-align: center;
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 13px 30px;
}

/* end section our works */

/* began section Pricing Plans/Table  */

.pricing-table {
	background-color: #666;
	color: #fff;
	padding: 50px 0;
}

.pricing-table .head-size {
	margin: 0 0 35px;
}

.pricing-table .pricing-plan {
	/* width: 33.3333%; */
	border: 1px solid #fff;
	padding: 20px 0;
	position: relative;
}

.pricing-table .pricing-plan h3 {
	margin: 0 0 10px;
	font-size: 26px;
}

.pricing-table .pricing-plan .pricing {
	display: inline-block;
	margin: 0 0 10px;
	font-size: 24px;
	color: #bfbfbf;
}

.pricing-table .pricing-plan ul {
	line-height: 2;
	font-size: 20px;
}

@media (max-width: 767px) {
	.pricing-table .pricing-plan {
		width: 100%;
		margin-bottom: 20px;
	}
}

@media (min-width: 768px) {
	.pricing-table .pricing-plan {
		width: 100%;
		margin-bottom: 20px;
	}
}

@media (min-width: 992px) {
	.pricing-table .pricing-plan:not(.ultimate) {
		margin-right: 1%;
	}

	.pricing-table .pricing-plan {
		width: 32.66666%;
	}

	.pricing-table .pricing-plan.plus {
		left: 33.66666%;
	}

	.pricing-table .pricing-plan.premium {
		right: 33.66666%;
	}
}

/* end section Pricing Plans/Table  */

/* began section testimonials  */

.testimonials {
	padding: 50px 0;
}

.testimonials .head-size {
	margin: 0 0 35px;
	color: #555;
}

.testimonials .box {
	background-color: #eee;
	padding: 20px;
	margin: 0 0 20px;
	border: 1px solid #ddd;
	text-align: center;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 768px) {
	.testimonials .box:first-of-type {
		width: 100%;
	}

	.testimonials .box:not(:first-of-type) {
		/* width: 25%; */
		width: 39%;
		margin-left: 10%;
	}

	.testimonials .box:nth-of-type(2) {
		margin-left: 10%;
	}

	.testimonials .box:last-of-type {
		margin-left: 2%;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.testimonials .box:first-of-type {
		width: 80%;
		margin-left: 10%;
	}
}

/* .testimonials .a {
    margin-left: 25%;
} */

/* end section testimonials  */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) and (max-width: 991px) {
	.container {
		width: 720px;
	}

	.visible-sm {
		display: block !important;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.container {
		width: 960px;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.container {
		width: 1140px;
	}
}

/* Extra extra large devices (extra large desktops, 1400px and up) */
@media (min-width: 1400px) {}

/* SECTION: my Framework began */

.container {
	margin: auto;
	/* margin-left: 15px;
    margin-right: 15px; */
}

.text-center {
	text-align: center;
}

.head-size {
	font-size: 2rem;
}

.visible-xs,
.visible-sm,
.visible-md,
.visible-lg,
.visible-xlg {
	display: none;
}

.clearfix {
	clear: both;
}

.float-left {
	float: left;
}

.list-unstyled {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* my Framework end */